primarias/Servicio_UNACEM/Control/Web References/mina/WebServiceUNACEM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Acceso a la base de datos desde un servicio Web</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="of_saludo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="as_nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="of_saludoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="of_saludoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="of_autorizaGuiaRemision">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="as_NroSri" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="as_NroAut" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="adt_fechahora" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="of_autorizaGuiaRemisionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="of_autorizaGuiaRemisionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="of_saludoSoapIn">
    <wsdl:part name="parameters" element="tns:of_saludo" />
  </wsdl:message>
  <wsdl:message name="of_saludoSoapOut">
    <wsdl:part name="parameters" element="tns:of_saludoResponse" />
  </wsdl:message>
  <wsdl:message name="of_autorizaGuiaRemisionSoapIn">
    <wsdl:part name="parameters" element="tns:of_autorizaGuiaRemision" />
  </wsdl:message>
  <wsdl:message name="of_autorizaGuiaRemisionSoapOut">
    <wsdl:part name="parameters" element="tns:of_autorizaGuiaRemisionResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceUNACEMSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="of_saludo">
      <wsdl:input message="tns:of_saludoSoapIn" />
      <wsdl:output message="tns:of_saludoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="of_autorizaGuiaRemision">
      <wsdl:input message="tns:of_autorizaGuiaRemisionSoapIn" />
      <wsdl:output message="tns:of_autorizaGuiaRemisionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceUNACEMSoap" type="tns:WebServiceUNACEMSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://localhost/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="of_saludo">
      <soap:operation soapAction="http://localhost/of_saludo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="of_autorizaGuiaRemision">
      <soap:operation soapAction="http://localhost/of_autorizaGuiaRemision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceUNACEMSoap12" type="tns:WebServiceUNACEMSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://localhost/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="of_saludo">
      <soap12:operation soapAction="http://localhost/of_saludo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="of_autorizaGuiaRemision">
      <soap12:operation soapAction="http://localhost/of_autorizaGuiaRemision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceUNACEM">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Acceso a la base de datos desde un servicio Web</wsdl:documentation>
    <wsdl:port name="WebServiceUNACEMSoap" binding="tns:WebServiceUNACEMSoap">
      <soap:address location="http://aplicaciones.unacem.com.ec:8090/WebServiceUNACEM.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceUNACEMSoap12" binding="tns:WebServiceUNACEMSoap12">
      <soap12:address location="http://aplicaciones.unacem.com.ec:8090/WebServiceUNACEM.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>