primarias/Servicio_UNACEM/Control/Web References/TestUnacemSap/zecsrifm01.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__ZECSRIFM01">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__ZECSRIFM01_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZECSRIFM01">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>C4346BB7B4851ED6BAC653F86C7BC57D</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__Zecsrifm01">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char255">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char49">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="49" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="time">
        <xsd:restriction base="xsd:time">
          <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="Zecsrist005">
        <xsd:sequence>
          <xsd:element name="Bukrs" type="n0:char4" />
          <xsd:element name="Belnr" type="n0:char10" />
          <xsd:element name="Gjahr" type="n0:numeric4" />
          <xsd:element name="Blart" type="n0:char2" />
          <xsd:element name="Xblnr" type="n0:char16" />
          <xsd:element name="Authn" type="n0:char49" />
          <xsd:element name="Ackey" type="n0:char49" />
          <xsd:element name="Stcd1" type="n0:char15" />
          <xsd:element name="Fauth" type="n0:date10" />
          <xsd:element name="Dauth" type="n0:time" />
          <xsd:element name="NroSri" type="n0:char15" />
          <xsd:element name="Status" type="n0:char2" />
          <xsd:element name="Msgid" type="n0:char255" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapireturn">
        <xsd:sequence>
          <xsd:element name="Type" type="n0:char1" />
          <xsd:element name="Code" type="n0:char5" />
          <xsd:element name="Message" type="n0:char220" />
          <xsd:element name="LogNo" type="n0:char20" />
          <xsd:element name="LogMsgNo" type="n0:numeric6" />
          <xsd:element name="MessageV1" type="n0:char50" />
          <xsd:element name="MessageV2" type="n0:char50" />
          <xsd:element name="MessageV3" type="n0:char50" />
          <xsd:element name="MessageV4" type="n0:char50" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Zecsrifm01">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IDoc" type="tns:Zecsrist005" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Zecsrifm01Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EMessage" type="tns:Bapireturn" />
            <xsd:element name="ERc" type="n0:char1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Zecsrifm01">
    <wsdl:part name="parameters" element="tns:Zecsrifm01" />
  </wsdl:message>
  <wsdl:message name="Zecsrifm01Response">
    <wsdl:part name="parameter" element="tns:Zecsrifm01Response" />
  </wsdl:message>
  <wsdl:portType name="ZECSRIFM01">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://sapdev.unacem.com.pe:5001/sap/bc/esdt/docu/sd_text?sap-client=300&amp;sd_name=ZECSRIFM01" />
        <sapdoc:docitem applicationComponent="FI" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZECSRIFM01" />
    </wsp:Policy>
    <wsdl:operation name="Zecsrifm01">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__Zecsrifm01" />
      </wsp:Policy>
      <wsdl:input message="tns:Zecsrifm01" />
      <wsdl:output message="tns:Zecsrifm01Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZECSRIFM01" type="tns:ZECSRIFM01">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZECSRIFM01" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Zecsrifm01">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZECSRIFM01:Zecsrifm01Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZECSRIFM01_soap12" type="tns:ZECSRIFM01">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZECSRIFM01_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Zecsrifm01">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZECSRIFM01:Zecsrifm01Request" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZECSRIFM01">
    <wsdl:port name="ZECSRIFM01" binding="tns:ZECSRIFM01">
      <soap:address location="http://sapdev.unacem.com.pe:5001/sap/bc/srt/rfc/sap/zecsrifm01" />
    </wsdl:port>
    <wsdl:port name="ZECSRIFM01_soap12" binding="tns:ZECSRIFM01_soap12">
      <wsoap12:address location="http://sapdev.unacem.com.pe:5001/sap/bc/srt/rfc/sap/zecsrifm01" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>