primarias/Servicio_UNACEM/Control/Web References/WebSapUnacem/svcUNACEMECSRIxsd0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ordev.unacem.com.pe/wsUNACEMECSRI/svcUNACEMECSRI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UNACEM.ECSRI.BusinessEntities.SAP" />
  <xs:import schemaLocation="http://ordev.unacem.com.pe/wsUNACEMECSRI/svcUNACEMECSRI.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UNACEM.ECSRI.BusinessEntities.Interface" />
  <xs:element name="Zecsrifm01">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UNACEM.ECSRI.BusinessEntities.SAP" minOccurs="0" name="IDoc" nillable="true" type="q1:IDoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Zecsrifm01Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UNACEM.ECSRI.BusinessEntities.Interface" minOccurs="0" name="Zecsrifm01Result" nillable="true" type="q2:DTOSRIRpta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>