primarias/Servicio_UNACEM/Control/Web References/WebSapUnacem/svcUNACEMECSRIxsd3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UNACEM.ECSRI.BusinessEntities.Interface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UNACEM.ECSRI.BusinessEntities.Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ordev.unacem.com.pe/wsUNACEMECSRI/svcUNACEMECSRI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UNACEM.ECSRI.BusinessEntities.SAP" />
  <xs:complexType name="DTOSRIRpta">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UNACEM.ECSRI.BusinessEntities.SAP" minOccurs="0" name="EMessage" nillable="true" type="q1:EMessage" />
      <xs:element minOccurs="0" name="ERc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOSRIRpta" nillable="true" type="tns:DTOSRIRpta" />
</xs:schema>