primarias/Servicio_UNACEM/Control/Web References/WebSapUnacem/svcUNACEMECSRIxsd2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UNACEM.ECSRI.BusinessEntities.SAP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UNACEM.ECSRI.BusinessEntities.SAP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IDoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ackey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Authn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Belnr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Blart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bukrs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dauth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fauth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gjahr"  type="xs:int" />
      <xs:element minOccurs="0" name="Msgid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroSri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stcd1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Xblnr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IDoc" nillable="true" type="tns:IDoc" />
  <xs:complexType name="EMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogMsgNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageV1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageV2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageV3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageV4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EMessage" nillable="true" type="tns:EMessage" />
</xs:schema>